[Unit]
Description=Rime Config Sync Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/gk-pi/rime_server
ExecStart=/home/gk-pi/rime_server/start_server.sh
Restart=always
RestartSec=10
StandardOutput=append:/home/gk-pi/rime_server/logs/stdout.log
StandardError=append:/home/gk-pi/rime_server/logs/stderr.log

[Install]
WantedBy=default.target